.cabecera {
    background-image: url("../img/cabecera.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 350px;
    justify-content: center;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 350px;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 50px;
    justify-content: center;
    align-items: center;
}
body {
    background-image: url("../img/fondo-consejos.avif");
    background-size: cover; /* Cubre toda la pantalla sin distorsionar la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Opcional: fija el fondo para que no se mueva al hacer scroll */
    margin: 0; /* Elimina el margen predeterminado del body que puede causar bordes */
    padding: 0;
}


.Parrafos p {
  margin: 10px 150px 10px 150px;
  padding: 40px;
  font-size: 17px;
  text-align: justify;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.Parrafos img {
    display: block;
    width: 600px;
    height: 400px;
    margin: 40px auto;
    border-radius: 10px;
}
.final {
    background-image: url("../img/cabecera.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 280px;
    justify-content: center;
    padding: 20px;
}